body {
  width: 90vw;
  margin: 10vw;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10%;
  width: 100%;
  font-size: 36px;
}

.header-left {
  font-family: PT Serif;
  font-size: 1em;
  width: 50%;
}

.header-right {
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
  line-height: 1.25;
  width: 50%;
}

.header-content {
  font-family: Poppins;
  width: 45%;
}

.header-heading {
  font-size: 1em;
}

footer {
  left: 45%;
  right: 45%;
  width: 100%;
  text-align: center;
  color: gray;
  font-family: Montserrat;
  margin-top: 10%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10%;
  height: auto;
  font-family: Poppins;
  width: 100%;
}

.container div img {
  width: 80%;
  font-size: 24px;
}

.person1,
.person4 {
  position: relative;
  margin: 1%;
  width: 25%;
}
.person2,
.person5 {
  position: relative;
  top: 100px;
  margin-left: 8%;
  margin-right: 8%;
  width: 25%;
}

.person3,
.person6 {
  position: relative;
  margin: 1%;
  width: 25%;
}

.designation {
  transform: rotate(90deg);
  position: absolute;
  left: 44%;
  top: 31%;
  width: 80%;
  font-size: 0.5em;
}

.name {
  font-size: 0.75em;
}

@media (max-width: 705px) {
  header {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .header-left,
  .header-right {
    width: 100%;
  }
  .header-content {
    width: 80%;
    margin-right: 20%;
  }

  .header-left {
    margin-bottom: 10%;
  }
  .person1,
  .person2,
  .person3,
  .person4,
  .person5,
  .person6 {
    position: relative;
    margin: 1%;
    width: 45%;
  }
  .person4 {
    margin-top: 20%;
    margin-bottom: 10%;
  }
  .person2 {
    margin-bottom: 15%;
    margin-top: 10%;
  }
  .person6 {
    margin-top: 15%;
  }

  .person5 {
    margin-top: -20%;
  }

  .designation {
    position: relative;
    top: -5%;
  }

  .header-content {
    width: 100%;
  }
}
