/* body styling */

body {
  margin: 0;
  padding: 0;
}

/* container styling */

.container {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
}

/* header styling */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 96px;
  margin-top: 40px;
}

header .material-symbols-outlined {
  display: none;
}

.header-left {
  font-size: 3em;
  width: 30%;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.list li {
  font-size: 2em;
}

/* Section1 styling */

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15%;
}

.section1 .div1 {
  font-size: 1.5em;
  color: #2d9cdb;
  margin-bottom: 16px;
}

.section1 .div2 {
  font-size: 4em;
  width: 35%;
  margin-bottom: 42px;
}

.section1 img {
  border-radius: 2%;
  margin-left: -10%;
  width: 100%;
  margin-bottom: 42px;
  transform: scale(1.1);
}

.section1 .div3 {
  font-size: 4em;
  width: 30%;
  margin-bottom: 42px;
}

.section1 .div4 {
  font-size: 1.5em;
  width: 30%;
  color: #4f4f4f;
  margin-bottom: 42px;
}

.section1 .div5 {
  font-size: 1.16em;
  color: #828282;
  margin-bottom: 24px;
}

.section1 .div6 {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 200px;
}

.section1 .div6 .text {
  width: 306px;
  height: 57px;
  font-size: 1.5em;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
}

.section1 .div6 .button {
  position: relative;
  background-color: #2d9cdb;
  height: 49px;
  border-radius: 10px;
  width: 94px;
  border: none;
}

/* section2 styling */

.section2 .div {
  font-size: 3em;
  margin-bottom: 36px;
}

.section2 .flex-section {
  display: flex;
  justify-content: space-evenly;
}

.section2 .section2-1 span,
.section2 .section2-2 span,
.section2 .section2-3 span {
  height: 67px;
  width: 67px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  margin-bottom: 35px;
  margin-top: 88px;
  margin-left: 10px;
  margin-right: 10px;
}

.section2 .section2-1 span {
  background-color: #2d9cdb;
}

.section2 .section2-2 span {
  background-color: #27ae60;
}

.section2 .section2-3 span {
  background-color: #eb5757;
}

.section2 .section2-1 .div1,
.section2 .section2-2 .div1,
.section2 .section2-3 .div1 {
  font-size: 2em;
  margin-bottom: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.section2 .section2-1 .div2,
.section2 .section2-2 .div2,
.section2 .section2-3 .div2 {
  font-size: 1.33em;
  color: #4f4f4f;
  margin-bottom: 39px;
  width: 273px;
  margin-left: 10px;
  margin-right: 10px;
}

.section2 .section2-1 .button,
.section2 .section2-2 .button,
.section2 .section2-3 .button {
  color: #828282;
  width: 116px;
  height: 42px;
  border-radius: 12px;
  background-color: #e0e0e0;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}
.section2 .section2-1,
.section2 .section2-2,
.section2 .section2-3 {
  margin-bottom: 194px;
}

.section2 .button:hover {
  background-color: #2d9cdb;
  color: white;
}

.section2-1:hover,
.section2-2:hover,
.section2-3:hover {
  box-shadow: 0px 0px 10px lightgray;

  border-radius: 10px;
}

/* section3 styling */

.section3 .div {
  font-size: 3em;
  color: #333333;
  width: 448px;
}

.section3 .flex-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section3 .section3-1 {
  margin-right: 20px;
  margin-top: 188px;
}

.section3 img {
  border-radius: 10px;
}

.section3 .section3-3 {
  margin-right: 20px;
  margin-top: 188px;
  margin-bottom: 429px;
}

.section3 .div1 {
  color: #828282;
  font-size: 1.16em;
}

.section3 .div2 {
  font-size: 2em;
  color: #333333;
}

.seeMore {
  display: flex;
  margin-top: 150px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: #2d9cdb;
}

/* section4 styling */

.section4 {
  display: flex;
  width: 100%;
}

.section4-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.section4-2 {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.section4 .div1 {
  font-size: 1.5em;
  color: #eb5757;
}

.section4 .div2 {
  font-size: 3em;
  color: #333333;
  width: 280px;
}

.section4 .div3 {
  font-size: 1.33em;
  color: #4f4f4f;
  width: 280px;
}

.section4 .flex2 {
  display: flex;
  flex-direction: column;
}

.section4 .person1 {
  margin-bottom: 10px;
  border-radius: 10px;
}

.section4 .person2 {
  border-radius: 10px;
}

.section4 .person3 {
  margin-top: 150px;
  margin-left: 120px;
  border-radius: 10px;
}

/* section5 styling */

.section5 {
  display: flex;
  flex-direction: column;
  margin-top: 196px;
}

.section5 .div1 {
  font-size: 3em;
  width: 937px;
  color: #333333;
}

.section5 img {
  margin-top: 36px;
  height: 90px;
  width: 90px;
  border-radius: 10px;
}

.section5 .div2 {
  font-size: 2em;
  color: #333333;
}

.section5 .div3 {
  font-size: 1.5em;
  color: #828282;
}

.section5 .flex-section {
  display: flex;
}

.section5 .div {
  margin-top: 49px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 203px;
}

/* footer styling */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #100e1d;
  margin-left: 0;
  margin-right: 0;
  height: 385px;
}

footer ul {
  margin-top: 46px;
  margin-left: 168px;
  color: #ffffff;
  font-size: 1.5em;
  list-style-type: none;
  line-height: 200%;
}

footer .section6-1 div {
  font-size: 3em;
  color: #f2f2f2;
  margin-top: 52px;
}

footer img {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

footer .section6-2 {
  margin-top: 49px;
  margin-right: 167px;
}

footer .div2 {
  color: white;
  font-size: 1.16em;
  margin-bottom: 9px;
}

footer .text {
  width: 350px;
  height: 57px;
  font-size: 1.5em;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
}

footer .div1 {
  background-color: #f2f2f2;
  border-radius: 10px;
}

footer .button {
  position: relative;
  background-color: #2d9cdb;
  height: 57px;
  border-radius: 10px;
  width: 94px;
  border: none;
  margin-right: 2px;
  margin-bottom: 2px;
}

/* for mobile version */

@media (max-width: 375px) {
  /* header styling */

  header li {
    display: none;
  }

  header .material-symbols-outlined {
    display: inline;
    position: absolute;
    top: 55px;
    left: 300px;
  }

  /* section1 styling */

  .section1 .div1 {
    font-size: 1em;
  }

  .section1 .div2 {
    font-size: 2em;
    width: 100%;
  }

  .section1 img {
    height: 145px;
  }

  .section1 .div3 {
    font-size: 2em;
    width: 100%;
  }

  .section1 .div4 {
    font-size: 1em;
    width: 100%;
  }

  .section1 .div5 {
    font-size: 0.86em;
  }

  .section1 .div6 {
    width: 100%;
  }

  .section1 .div6 .text {
    width: 180px;
    height: 47px;
    font-size: 1.16em;
  }

  .section1 .div6 .button {
    width: 71px;
    height: 39px;
    font-size: 1.16em;
  }

  /* section2 styling */

  .section2 .div1 {
    font-size: 2em;
    width: 259px;
  }

  .section2 .flex-section {
    flex-direction: column;
    justify-content: space-around;
  }

  /* section3 styling */

  .section3 .div {
    font-size: 2em;
    width: 267px;
  }

  .section3 .div1 {
    font-size: 1em;
  }

  .section3 .div2 {
    font-size: 1.5em;
  }

  .section3 img {
    width: 90%;
  }

  .section3 .section3-1 {
    margin-top: 30px;
  }

  .section3 .section3-3 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .seeMore {
    margin-top: 35px;
    justify-content: flex-start;
  }

  /* section4 styling */

  .section4 {
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
  }

  .section4-2 {
    margin-top: 36px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section4-2 .flex1 {
    width: 45%;
  }

  .section4-2 .flex2 {
    width: 45%;
  }

  .section4-2 .person3 {
    margin: 0;
    height: 60%;
    width: 100%;
    margin-top: 50px;
  }

  /* section5 styling */

  .section5 .div1 {
    font-size: 2em;
    width: 100%;
  }

  /* footer styling */

  footer {
    flex-direction: column;
    height: 700px;
    width: 100%;
    justify-content: flex-start;
  }

  footer ul {
    margin-top: 46px;
    margin-left: 0;
    color: #ffffff;
    font-size: 1.5em;
    list-style-type: none;
    line-height: 200%;
  }

  footer .section6-1 {
    margin: 40px;
  }

  footer .section6-2 {
    width: 80%;
    margin-right: 0px !important;
    margin-left: 40px;
  }

  footer .div2 {
    font-size: 0.86em;
    width: 200px;
  }

  footer .div1 {
    display: flex;
    justify-content: space-between;
  }

  footer .div1 .text {
    width: 60%;
    height: 47px;
    font-size: 1.16em;
  }

  footer .div1 .button {
    width: 71px;
    height: 39px;
    font-size: 1.16em;
    margin-top: 4px;
    margin-right: 2px;
  }
}
